<div class="border rounded p-3 mb-4 form-article">
        <form>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Html текс</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Виберіть тип статті</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Клуб для взрослих</option>
                    <option>Клуб для детей</option>
                </select>
            </div>
            <div class="text-right ">
                <input class="btn btn-light" type="submit" value="Сохранить">
                <input class="btn btn-light" type="submit" value="Удалити">
            </div>
        </form>
    </div>