@model YoungDeveloperEnglish.ViewModels.SendMessageModel

@{
    Layout = "_Layout";
}


<div class="container">
    <div class="text-center mt-5">
        <h1>@Model.Name, дякуємо за вашу заявку!</h1>
        <h2>В найблищий час ми з вами зв'яжемось</h2>
    </div>
</div>
